# {{ ansible_managed }}

path bin

DEFAULT {% if tftp_vesamenu -%} vesa {%- endif -%} menu.c32
PROMPT {{ tftp_always_show_boot_prompt | int }}
TIMEOUT {{ tftp_timeout*10 | round | int }}

{% if menu.value.kbmap is defined -%}
KBDMAP {{ menu.value.kbmap }}
{%- endif %}

{% if menu.value.title is defined -%}
MENU TITLE {{ menu.value.title }}
{%- endif %}
{% if menu.value.tabmsg is defined -%}
MENU TABMSG {{ menu.value.tabmsg }}
{%- endif %}

{% set indent_level = [0] %}
{% for entry in menu.value.entries recursive %}

{% if entry is string and entry == "separator" -%}
MENU SEPARATOR

{% elif entry.intmenu is defined %}
{% if entry.label is defined %}
LABEL {{ loop.depth }}_{{ loop.index }}
	MENU LABEL {{ entry.label }}
	MENU INDENT {{ indent_level[-1]*4 }}
	MENU DISABLE
{% endif %}
{% if indent_level.append(indent_level.pop() + 1) %}{% endif %}{# workaround to maintain actual indent_level counter#}
{{ loop(entry.intmenu) }}
{% if indent_level.append(indent_level.pop() - 1) %}{% endif %}{# workaround to maintain actual indent_level counter#}
	
{% elif entry.submenu is defined %}
{% if indent_level.append(0) %}{% endif %}
MENU BEGIN {{ entry.tag | default(loop.depth|string+"_"+loop.index|string+"_sub") }}
{% if entry.label is defined %}MENU TITLE {% if indent_level[-2]>0 %}>{{ ""|center(indent_level[-2]*4-1) }}{% endif %}{{ entry.label }}{% endif %}
{{ loop(entry.submenu) }}
MENU END
{% if indent_level.pop() %}{% endif %}

{% else %}
LABEL {{ loop.depth }}_{{ loop.index }}
	MENU LABEL {{ entry.label }}
	MENU INDENT {{ indent_level[-1]*4 }}
	{% if entry.help is defined -%}
	TEXT HELP
	{{ entry.help }}
	ENDTEXT
	{% endif -%}
	{% if entry.kernel is defined %}KERNEL {{ entry.kernel }}{% endif %}
	{% if entry.append is defined %}APPEND {{ entry.append }}{% endif %}

{% endif %}
{% endfor %}
